{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Problems that exists!</h1>
    <p>
        Every shopper looks for the best deals & discounts before buying any product. Nowadays
        before purchasing anything the buyers do some online research of the products on the internet. One
        of the major factors which lead to purchasing of any product is cost or pricing. The buyers tend to
        compare prices before purchasing any product. But since it is very difficult to visit each & every website
        for price comparison, there needs to be a solution to automate this process. The Price comparison
        website project proposed here gathers information on product prices from various websites &
        presents it to the users. The users can then choose to buy from the best options available. Even
        Ecommerce traders can use this price comparison website to study their competitors and form new
        strategies accordingly to attract new customers & stay ahead of their competitors.
    </p>
    <h1>Problem we solve!</h1>
    <p>
        This price comparison website for products will help to compare the price from various ecommerce websites, This
        Price comparison site is extremely helpful for frequent online shoppers to
        check prices on different online stores in one place, This system will show you the product prices from
        different retailers to show you where to buy the product at affordable price, Any two static websites
        classes are analysed to get the pricing details, To get the pricing details, the system visits the website
        based on user’s search and downloads the html search page of that specific website, Once prices from
        both the websites are retrieved, it is displayed on our website in the form of price comparison.
    </p>
</div>
{% endblock %}