{% extends "index.html" %}
{% block content %}
<div class="continer mt-5">
    <div class="row">
        {% for flipkartProduct in flipkartProducts %}
            <h6>{{ flipkartProduct }}</h6>
        {% endfor %}
    </div>
    <div class="row">
        {% for amazonProduct in amazonProducts %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div style="width-18rem; height-12rem;">
                    <img class="card-img-top" src="{{ amazonProduct.thumbnail }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ amazonProduct.title }}</h5>
                    <p class="card-text">
                        Price: {{ amazonProduct.price.before_price }}
                        Offer: {{ amazonProduct.price.savings_percent }} % off
                        Saving: {{ amazonProduct.price.savings_amount }}
                        Offer Price: {{ amazonProduct.price.current_price }}
                    </p>
                    <a class="btn btn-primary" href="{{ amazonProduct.url }}">Order Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}